<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to :root, :class => 'navbar-brand' do %>
        <i class="fa fa-cube"></i> <%=t 'navbar.title' %>
      <% end %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if (controller_name.eql? 'mocks') && action_name.in?( %w(show history)) %>
            <li class="<%= 'active' if action_name.eql? 'show' %>"><%= link_to t('navbar.mock.detail'), mock_path(@mock) %></li>
            <li class="<%= 'active' if action_name.eql? 'history' %>"><%= link_to t('navbar.mock.history'), history_mock_path(@mock) %></li>
            <li ><%= link_to t('navbar.mock.new'), root_path %></li>
        <% end %>
      </ul>
      <form class="navbar-form navbar-right search" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter mock ID ...">
        </div>
      </form>
    </div><!--/.nav-collapse -->
  </div>
</nav>