<%= react_component('HelloMessage', name: 'John') %>

<div class="row">
  <div class="col-md-2">
    <h3>History</h3>
    <div class="history">
      <% @mock.mock_requests.order_by(:created_at => 'desc').limit(16).each{ |req| %>
          <div class="request">
            <div class="row">
              <div class="col-sm-6">
                <%= req.method %>
              </div>
              <div class="col-sm-6">
                @<%= req.created_at.strftime '%H:%M:%S' %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <%= req.remote_address %>
              </div>
              <div class="col-sm-6">
                <%= req.created_at.strftime '%y/%m/%d' %>
              </div>
            </div>
          </div>
      <% } %>
    </div>
  </div>
  <div class="col-md-8">
    <% req = @mock.mock_requests.order_by(:created_at => 'desc').first %>
    <h3>Request content</h3>
    <div>
      <dl class="dl-horizontal">
        <% req.headers.each{ |h,v| %>
           <dt><%= h %></dt>
           <dd><%= v %></dd>
        <% } %>
      </dl>
    </div>
  </div>
</div>