<% content_for :header do %>
  <div class="jumbotron">
    <div class="container">
      <h1><%=t '.title' %></h1>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%=t '.subtitle' %></h3>
    </div>
    <div class="panel-body">
      <%= form_for @new_mock do |f| %>
          <div class="row">
            <div class="col-md-10">
              <div class="form-group">
                <%= f.label :body %>:
                <%= f.text_area :body, class: 'form-control', cols: 50, rows: 10 %><br />
              </div>

              <%= react_component 'CustomHeaders' %>

              <% if session[:to_be_verified] %>
                <%= recaptcha_tags %>
              <% end %>

              <div>
                <%= f.submit :class => 'btn btn-primary' %>
                <%= link_to t('.reset'), root_path, { :class => 'btn btn-default' } %>
              </div>

            </div>
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label :statuscode %>:
                <%= f.text_field :statuscode, class: 'form-control' %><br />
              </div>

              <div class="form-group">
                <%= f.label :contenttype %>:
                <%= f.select :contenttype, Mock::MIME_TYPES, {}, { class: 'form-control ta_ct'} %><br />
              </div>

              <div class="form-group">
                <%= f.file_field :fileselect %>
                <div id="filedrag" class="form-control">
                  <!--<span class="text">-->
                    <%= fa_icon 'cloud-upload' %>&nbsp;&nbsp;&nbsp;Drop a file here to upload content
                  <!--</span>-->
                </div>
              </div>
            </div>
          </div>
    <% end %>
    </div>
  </div>
</div>
