<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%=t '.mock_details' %></h3>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt><%=t '.mock_path' %></dt>
        <dd><%= link_to(mocklink_url, mocklink_url(@mock), :target => '_blank') %></dd>
        <dt><%=t '.mock_history' %></dt>
        <dd><%= link_to(history_mock_url, history_mock_url(@mock)) %></dd>
        <dt><%=t Mock.human_attribute_name(:statuscode) %></dt>
        <dd><%= @mock.statuscode %></dd>
        <dt><%=t Mock.human_attribute_name(:contenttype) %></dt>
        <dd><%= @mock.contenttype %></dd>
        <dt><%=t Mock.human_attribute_name(:body) %></dt>
        <dd>
          <% if ! @mock.body.empty? %>
            <pre><%= html_escape(@mock.body) %></pre>
          <% else %>
            <pre><i>[No body defined]</i></pre>
          <% end %>
        </dd>
      </dl>
    </div>
  </div>
</div>