<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%=t '.mock_details' %> <small>( id: <%= @mock.id %> )</small></h3>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt><%=t '.mock_path' %></dt>
        <dd>
          <%= link_to(mocklink_url, mocklink_url(@mock), :target => '_blank', :id => 'mock_link') %>
          &nbsp;&nbsp;&nbsp;
          ( <%= link_to history_mock_url(@mock), :title => 'History' do %><%= fa_icon 'history' %> <%=t 'navbar.mock.history' %><% end %> )
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt><%=t Mock.human_attribute_name(:statuscode) %></dt>
        <dd><%= @mock.statuscode %></dd>
        <dt><%=t Mock.human_attribute_name(:contenttype) %></dt>
        <dd><%= @mock.contenttype %></dd>
        <% unless @mock.customheaders.nil? %>
          <dt><%=t Mock.human_attribute_name(:customheaders) %></dt>
          <dd>
            <% @mock.customheaders.each{ |h| %>
              <%= h[:name] %>: <%= h[:value] %><br/>
            <% } %>
          </dd>
        <% end %>
        <dt><%=t Mock.human_attribute_name(:body) %></dt>
        <dd>
          <% if ! @mock.body.empty? %>
            <pre><%= html_escape(pretty_print_body(@mock.contenttype, @mock.body)) %></pre>
          <% else %>
            <pre><i>[No body defined]</i></pre>
          <% end %>
        </dd>
      </dl>
    </div>
  </div>
</div>